{% include 'header.html.twig' %}
    <form action="" method="post">
        <label for="loginID">Login:</label><br>
        <input type="text" name="login" id="loginID"><br>
        <label for="passwordID">Hasło:</label><br>
        <input type="password" name="password" id="passwordID"><br>
        <input type="submit" value="Zaloguj">
    </form>
    {% include 'footer.html.twig' %} 