{% include 'header.html.twig' %}
<body>
    <form action="" method="post">
        <label for="loginID">Login:</label><br>
        <input type="text" name="login" id="loginID"><br>
        <label for="passwordID">Hasło:</label><br>
        <input type="password" name="password" id="passwordID"><br>
        <label for="firstNameID">Imię:</label><br>
        <input type="text" name="firstName" id="firstNameID"><br>
        <label for="lastNameID">Nazwisko:</label><br>
        <input type="text" name="lastName" id="lastNameID"><br>
        <input type="submit" value="Rejestruj">
    </form>
{% include 'footer.html.twig' %} 